div.anki-one-click-source-word {
    font-size: 16px;
    font-weight: bold;
    padding: 2px;
}

div.anki-one-click-checkbox-container {
    display: inline-block;
}

*.anki-one-click-translation-choice {
    padding: 5px;
    display: block;
    font-weight: normal;

    &:hover {
        background: #eee;
        cursor: pointer;
    }

    input[type="checkbox"] {
        margin: 0 5 0 0;
    }
}
