div.selection_bubble {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  color: black;
  border: 1px solid black;
  font-family: "Open Sans", sans-serif;
  opacity: 1;
  z-index: 99997;
  padding: 2px;
  border-radius: 2px;
}
