div.selection_bubble {
    position: absolute;
    background-color: white;
    border: 1px solid black;
    opacity: 1;
    z-index: 99997;
    padding: 2px;
    border-radius: 2px;

    div.anki-one-click-source-word {
        font-size: 16px;
        font-weight: bold;
        padding: 2px;
    }

    *.anki-one-click-translation-choice {
        padding: 5px;
        display: block;
        font-weight: normal;

        &:hover {
            background: #eee;
            cursor: pointer;
        }

        input[type="checkbox"] {
            margin: 0 5 0 0;
        }

        .anki-one-click-spinner {
            width: 13px;
            height: 13px;
            background-color: rgb(92, 92, 92);
            display: inline-block;
            -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
            animation: sk-rotateplane 1.2s infinite ease-in-out;
        }

        @-webkit-keyframes sk-rotateplane {
            0% {
                -webkit-transform: perspective(120px);
            }
            50% {
                -webkit-transform: perspective(120px) rotateY(180deg);
            }
            100% {
                -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
            }
        }

        @keyframes sk-rotateplane {
            0% {
                transform: perspective(120px) rotateX(0deg) rotateY(0deg);
                -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            }
            50% {
                transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
                -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
            }
            100% {
                transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
                -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            }
        }
    }

    * {
        color: black;
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
    }
}
